[Unit]
Description=Bind9
Documentation=man:named(8)
Requires=docker
After=docker

[Service]
WorkingDirectory=/var/www/bind9
ExecStart=/usr/local/bin/docker-compose up
ExecReload=/usr/local/bin/docker-compose restart --force-recreate
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=multi-user.target